name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install
        run: pip install requests matplotlib

      - name: Generate Stats
        run: |
          python generators/generate_commits.py
          python generators/generate_languages.py
          python generators/generate_repos.py
          python generators/generate_summary.py
          python generators/generate_activity.py

      - name: Commit
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add output/*.png 
          git commit -m "Update stats" || echo "No changes"
          git push