name: Generate GitHub Dashboard

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Export environment variables
        run: |
          echo "GITHUB_USERNAME=Domisnnet" >> $GITHUB_ENV
          echo "GITHUB_TOKEN=${{ secrets.PERSONAL_GITHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Generate Dashboard
        run: python -m generators.generate_dashboard

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          if [ -f output/dashboard.png ]; then
            git add output/dashboard.png
            git commit -m "Atualiza dashboard premium" || echo "Sem alterações para commit"
            git push
          else
            echo "ERRO: Nenhuma imagem foi gerada em output/dashboard.png."
            exit 1 # Opcional: Falhar o Action se o arquivo não for encontrado
          fi