name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Configure PYTHONPATH
        run: |
          echo "PYTHONPATH=${{ github.workspace }}" >> $GITHUB_ENV
          export PYTHONPATH=${{ github.workspace }}

      - name: Generate Stats
        run: python generators/generate_commits.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          if [ -f output/github-stats.png ]; then
            git add output/github-stats.png
            git commit -m "Atualiza estatísticas" || echo "Sem mudanças"
            git push
          else
            echo "Nenhuma imagem foi gerada."
          fi